* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}
main {
  margin-left: 5rem;
  padding: 1rem;
}
.title {
  font-family: "Merriweather";
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
section {
  min-height: 100vh;
  margin-bottom: 1rem;
}
/*navbar*/
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 400ms ease;
  overflow: hidden;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.link-text {
  display: none;
  margin-left: 1rem;
}
.nav-link i,
svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1rem;
}
.fa-primary {
  color: #ff7eee;
}
.fa-secondary {
  color: #df49a6;
}
.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}
.logo {
  font-weight: bold;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
}
.logo i {
  transform: rotate(0);
  transition: transform var(--transition-speed);
}
.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
/*about*/
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.about__left {
  flex-basis: 50%;
  padding: 0 5%;
}
.about__right {
  flex-basis: 40%;
}
.about__img {
  width: 100%;
}
.about__left p {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1ch;
}
.about__left ul {
  margin-left: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
}

p.typewriter {
  white-space: nowrap;
  overflow: hidden;
  font-size: 2rem;
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 410px;}
}
/*projects*/
.projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(2, minmax(40vh, 1fr));
  gap: 20px;
}
.projects__item {
  background-color: #1e1e24;
  padding: 10px;
}
.projects__title {
  margin-bottom: 0.25rem;
}
.projects__photo--container {
  overflow: hidden;
}
.projects__item--photo {
  width: 100%;
  object-fit: contain;
}
.projects__item--photo:hover {
  transform: scale(1.1);
}
/*technologies*/
section#technologies {
  min-height: 15vh;
}
.technologies {
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
}
.technologies__item {
  padding: 10px;
  background-color: #141418;
}
/*Contact*/
section#contact {
  margin-top: 3vh;
  min-height: 60vh;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  background-color: #1e1e24;
  padding: 2%;
}
/*left side*/
.form {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input-container {
  width: 400px;
  position: relative;
  margin-bottom: 25px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--bg-secondary);
}
.btn {
  color: #fff;
  background-color:var(--bg-primary);
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}

/*right side*/
.contact__findme {
  flex-basis: 50%;
  padding-left: 15px;
  border-left: 1.5px solid #fff;
}
.findme__item {
  display: flex;
  align-items: center;
}
.findme__item p {
  padding-left: 10px;
}
.findme__item a {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

footer {
  text-align: center;
  background-color: #1e1e1e;
}
/*small screen*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
  .title {
    font-size: 1.5rem;
  }
  /*about*/
  .about__left {
    flex-basis: 100%;
    margin: 0 5%;
  }
  .about__right {
    flex-basis: 100%;
  }
  /*projects*/
  .projects {
    grid-template-columns: 300px;
    justify-content: center;
  }
  /*technologies*/
  .technologies {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
  }

  footer {
    display: none;
  }
}
/*large screen*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }

  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
}
